@model WA50.ViewModels.ProductIndexViewModel
@using Northwind.Store.Model
@{
    ViewData["Title"] = "Home Page";
}

<h1>Products</h1>

<form method="get">
    @*<input name="filter" placeholder="Type filter here" />*@
    <input asp-for="Filter" placeholder="Type filter here" />
    <button type="submit">Search</button>
</form>

@*@if (ViewData["products"] != null)*@
@if (Model.Products != null && Model.Products.Count > 0)
{
    //var products = (List<Product>)ViewData["products"];
    //var products = (List<Product>)ViewBag.products;
    var products = Model.Products;
    <table class="table">
        <tbody>
            @foreach (var p in products)
            {
                <tr>
                    <td>@p.ProductId</td>
                    <td>@p.ProductName</td>
                    <td>@p.UnitPrice</td>
                </tr>
            }
        </tbody>
        <tfoot>
            @if (Model.TotalCount > Model.PageSize)
            {
                <tr>
                    @{
                        int previous = Model.Page - 1;
                        int next = Model.Page + 1;
                    }
                    <td>
                        @if (previous > 0)
                        {
                            <a href="@Url.Action("Index")?page=@previous" title="Previous">&lt;</a>
                        }
                    </td>
                    <td>
                        @Model.Page / @Model.PageCount  <strong>Total Items: @Model.TotalCount</strong>
                    </td>
                    <td>
                        @if (next <= Model.PageCount)
                        {
                            <a href="@Url.Action("Index")?page=@next" title="Next">&gt;</a>
                        }
                    </td>
                </tr>
            }
        </tfoot>
    </table>
}

@section Scripts {
    <script>
        console.log('Probando sections de ASP.NET Core MVC');
    </script>
}