@page
@model WA30.Pages.ClientCSSModel
@{
}

<style>
    body {
        margin: 2em 4em;
        font-family: 'Franklin Gothic Medium', sans-serif;
    }

    h2 {
        color: #ff0000;
        font-size: xx-large;
        border-bottom: 1px dotted gray;
    }

    section h3 {
        color: #0094ff;
        border-bottom: 1px solid black !important;
    }

    #titulo {
        text-align: center;
        background: #f5e801;
        color: #ff6d00;
        box-shadow: gray 5px 5px;
        border-radius: 4px 12px 4px 12px;
        padding: 0.5em 0.25em;
    }

    span.cantidad {
        font-weight: bolder;
        color: #e6cfd4;
        background: #ac5252;
        padding: 0.25em 0.7em;
        border-radius: 20px;
    }

    #contenido {
        background: #dedcdc;
        padding: 0.5em;
        margin: 1em 0;
    }
</style>

<link href="~/css/table.css" rel="stylesheet" />

<h2 id="titulo" style="font-family: 'Segoe UI'; font-size: 34px;">Index</h2>

<form method="post">
    <input asp-for="Filter" placeholder="Type filter here" />
    <button type="submit">Search</button>
</form>

@if (Model.Products != null && Model.Products.Any())
{
    <div id="contenido">
        @foreach (var gp in Model.Products)
        {
            <section>
                <h3>@gp.Key</h3>

                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>QuantityPerUnit</th>
                            <th>Price</th>
                            <th>Stock</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var p in gp)
                        {
                            <tr>
                                <td>@p.ProductName</td>
                                <td>@p.QuantityPerUnit</td>
                                <td>@p.UnitPrice</td>
                                <td>@p.UnitsInStock</td>
                            </tr>
                        }
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="4">
                                Cantidad de Productos:
                                <span class="cantidad">@gp.Count()</span>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </section>
        }

    </div>
}
